body {
    display: block;
    margin: 8px;
    margin-left: 50px;
    margin-top: 35px;
    background-color: rgb(255, 255, 255);
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-family: "casad-serial-regular";
    color: #78866b;
}


h2{
    color: #534a48;
}

a{
    line-height: 1.8;
}

.lorena {
    width: 100%;
    font-style: italic;
    font-size: 32px;
    align-content: center;
}

.link {
    font-family: 'casad-serial-regular';
    font-size: 25px;
    color: #534a48;
    line-height: 130%;
    width: fit-content;
    text-decoration: none;
}

.link:hover{
    font-family: nimbus-sans, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 46px;
    text-decoration: underline;
    transition: 60ms ease-in-out;
}