@font-face {
    font-family:Ogg;
    src: url('Ogg-Bold-BF646c18fc4aa63.otf');
  }

body {
    display: block;
    background-color: #F8F4E9;
    font-family: 'Libre Baskerville', serif;
    font-size:1.5vw;
}

p{
    position: relative;
    color: #000;
    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width:50%;
    height:100%;
    left:50%;
}

h1 {
    display: block;
    font-weight: bold;
    font-size: 8vw;
}

h4{
    position: relative;
    color: #000;
    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: medium;
    line-height: normal;
    font-size:1.5vw;
}

h1, h3, h4{
    text-align: center;
}

 .punctuation{
    width: 40vw;
    position:relative;
    margin:200px;
    transform: -20%,-50%;
} 
.wrapper {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
}
.arrowright{
    font-size: 5vh;
    text-align: right;
}
.arrowleft{
    font-size: 5vh;
    text-align: left;
}