@font-face {
    font-family:Ogg;
    src: url('Ogg-Bold-BF646c18fc4aa63.otf');
  }

body {
    display: block;
    background-color: #F8F4E9;
    font-family: 'Libre Baskerville', serif;
    font-size:1.5vw;
}
span{
    color:#F8F4E9;
}

.yellow{
    color:#FFCC1999;
    font-family: Ogg;
    text-decoration:underline;
}

a.italicize:hover{
    font-style:italic;
    font-size: larger;
    font-family: Ogg;
    color:#FFCC1999;
}

span.question{
    margin: 20px 20px 20px 20px;
}
span:hover{ 
    color:black;
    font-weight: 900;
    font-size:larger;
}

a{
    text-decoration: none;
    color:black;
}
h3 a:hover{
    text-decoration:underline;
    color: #3B8D50;
    font-style:italic;
}

#text-reveal{
    display:none;
}

#punctuation-show{
    display:none;
}

p{
    position: relative;
    color: #000;
    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width:50%;
    height:100%;
    left:50%;
}

h1 {
    display: block;
    font-weight: bold;
    font-size: 8vw;
}

h4{
    position: relative;
    color: #000;
    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: medium;
    line-height: normal;
    font-size:1.5vw;
}

h1, h3, h4{
    text-align: center;
}

.punctuation{
    width: 40vw;
    position:relative;
    margin:200px auto;
} 
.wrapper {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
}
.image{
    position: absolute;
    width: 100vw;
    height: 100vh;
    /* text-align: left; */
    transform: translateX(-1000px)
}

p.arrowright{
    font-size: 5vh;
    text-align: right;
    transform: scale(.7,.7);
    transform:translateX(10px);
}
p.arrowleft{
    font-size: 5vh;
    text-align: left;
}