body{
  /* background-color:#FAF9F6; */
  /* background-color:#fbf7f5; */
  /* background-color:#fcfbf7; */
  background-color:	#fff4e6;

}
#box {
  overflow: hidden;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 32px;
  }

#nav {
  position:fixed;
  right:32px;
  margin: 0px;
  width:25px;
  height:25px;
  border-radius: 50%;
  border: solid 1px #000;
  font-family: "HelveticaNeue-CondensedBold";
  background-color: transparent; 
  cursor:pointer;
  padding: 0;
  color:black;
}

#nav:visited{
  color:black;
}

/* #nav a {
  display: inline-block;
  position:absolute;
  right:35%;
  top:50%;
  transform: translate(-50%, -50%);
  /* transition: opacity 0.25s ease-in; */
  /* font-family: "HelveticaNeue-CondensedBold";
  text-decoration:none;
  color: #000; */
/* } */

.container {
  position: fixed;
  width: 1324px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  
h1 {
  font-family: 'Helvetica', sans-serif;
  font-size: 34px;
  letter-spacing: -0.03em;
  text-align:center;
  mix-blend-mode: hard-light;
  top:20%;
}

#clock{
  color: #000;
  text-align: center;
  font-family: "HelveticaNeue-CondensedBold";
  font-size: 500px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -9px;
  margin:25px auto;
  mix-blend-mode: hard-light;
  padding: 0px;
}

#timeofday{
  color: #000;
  /* text-align: left; */
  font-family: "HelveticaNeue-CondensedBold";
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.576px;
  position: absolute;
  top: 35.0%;
  left: 7%;
}

#ounces{
  color: #000;
  text-align: center;
  font-family: "HelveticaNeue-CondensedBold";
  font-size: 500px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -9px;
  margin:25px auto;
  mix-blend-mode: hard-light;
}

#units{
  color: #000;
  font-family: "HelveticaNeue-CondensedBold";
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.576px;
  position: absolute;
  top: 35.0%;
  left: 7%;
}

p#units-label{
  margin:0;
}

#water-container{
  display:block;
}

#oz-container {
  display: none;
}

/* buttons*/
#my-time{
  width:845px;
  padding-left:75px;
  padding-right:75px;
  padding-top:5px;
  padding-bottom:5px;
  border-color: black;
  border-radius: 50px;
  background-color:	#fff4e6;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  font-family: "HelveticaNeue-CondensedBold";
  display:none;
  z-index:2;
  mix-blend-mode: hard-light;
  /* top:95%; */
}

#my-ounces{
  width:845px;
  padding-left:75px;
  padding-right:75px;
  padding-top:5px;
  padding-bottom:5px;
  border-color: black;
  border-radius: 50px;
  background-color:	#fff4e6;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  font-family: "HelveticaNeue-CondensedBold";
  z-index:2;
  mix-blend-mode: hard-light;
  /* top:95%; */
}

#my-time:hover, #my-ounces:hover{
  background-color:	lightgray;
  /* color:white; */
}

#water{
  width:100vw;
  position: fixed;
  left:50%;
  margin-left:-50vw;
  margin-right:-50vw;
  margin-bottom:-50vh;
  margin-top:-50vh;
  bottom:50%;
  height:100vh; 
  /* background-color: #84BAF9; */
  background-color: #96CEF1;
  mix-blend-mode:hard-light; /*this doesn;t work*/
  transition: 1s linear;
  z-index:1;
}

#about{
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  color: #000000;
  height: auto;
  min-height: 0%;
  margin: 10.3vw;
  background-color: #ffffff;
  border:solid #000;
  position: relative;
  padding-top: 40px;
}

#about{
  display:none;
}
#about section {
  padding: 0 40px;
}

#about, #about h2 {
  color: #000000;
  font-family: 'Helvetica', sans-serif;
  font-size: 2vw;
}

#about h2 {
  font-family: 'Helvetica', sans-serif;
  font-size: 2vw;
  letter-spacing: -0.03em;
  /* text-align:center; */
  float: left;
  width: 70%;
}

#about p {
  display:flex;
  font-size: 2vw;
  line-height: 1.21;
  width: 89%;
}

#close {
  float: right;
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url(close.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  cursor:pointer;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #0e1111;}
  #clock, #ounces, #timeofday, #units, h1{
      color: #fff4e6;
  }
  #water {mix-blend-mode:color;
  }
  #water{
    background-color:	#020079;
  }
  #my-time, #my-ounces{
    border-color: #fff4e6;
    background-color:	#0e1111;
    color:#fff4e6;
    mix-blend-mode: soft-light;
  }

  #my-time:hover, #my-ounces:hover{
    border-color: #0e1111;
    background-color:#fff4e6; 
    color:#0e1111;
    mix-blend-mode: soft-light;
  }
  

  #nav {
    border-color:  #fff4e6;
    color:#fff4e6;
  }
  }



@media (max-width:1130px){
  #about p {
    font-size: 2.4vw;
    line-height: 1.21;
    width: 100%;
  }
  #about h2 {
    /* padding: 4px 8px 8px 8px; */
    font-size: 2.4vw;
  }
}

@media (max-width:1024px){
#about {
    min-height: 0%;
    margin: 12.5vw;
  }
  #about p {
    width: 100%;
    line-height: 1.25;
  }
  }
  

@media (max-width: 800px) {
.container {
  position: fixed;
  width: 326px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#clock, #ounces{  
font-size: 150px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -4.5px;
}

h1 {
  font-family: 'Helvetica', sans-serif;
  font-size: 30px;
  letter-spacing: -1.8px;
  text-align:center;
}

#timeofday, #units{
  font-family: "HelveticaNeue-CondensedBold";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3px;
  top: 48.0%;
  left: 0%;
}

#my-ounces, #my-time{
  width:326px;
  top:100%;
}

#about p {
  font-size: 2.1vw;
  width: 100%;
  /* line-height: 1.21;
  width: 89%; */
}
#about,
#about h2 {
  font-size: 2.1vw;
}
#about h2 {
  padding: 4px 8px 4px 0px;
}
#about {
padding-top: 20px;
}

#about section {
  padding: 0 20px;
}

#close{
  width: 3vw;
  height: 3vw;
}
}

@media (max-width: 280px) {
.container {
    position: fixed;
    width: 280px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  #clock, #ounces{  
  font-size: 120px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -4.5px;
  }
  
  h1 {
    font-family: 'Helvetica', sans-serif;
    font-size: 24px;
    letter-spacing: -1.8px;
    text-align:center;
  }
  
  #timeofday, #units{
    font-family: "HelveticaNeue-CondensedBold";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.3px;
    top: 52.0%;
    left: 5%;
  }
  #my-ounces, #my-time{
    top:100%;
  }
  
}
