/* @media all and (min-width: 1621px) {  */
@font-face {
    font-family: Tilt Neon;
    src: url(TiltNeon-Regular.ttf);
  }
  

body{
    background-color: #EBEBEB;
    margin:0px;
  }
/*LICENSE PLATE ARCHIVE*/
.title{
    display:flex;
    justify-content:space-between;
    flex-shrink: 0;
    
}
h1{
    font-family: 'LICENSE PLATE USA', sans-serif; 
    width:300px;
    font-size:60px;   
    margin-left: 0.67em;
    margin-right: 0.67em;
    display:flex;                                
}

a{
  font-family: 'LICENSE PLATE USA', sans-serif; 
  font-size:60px;  
  margin: 0.67em;
  display:flex;
  text-decoration:none;  
}
/*ABOUT PAGE*/

#logo{
  display:flex;
  font-family: 'LICENSE PLATE USA', sans-serif; 
  font-size:25px; 
  text-decoration:none;  
  width:100px;
  margin-left: 0.67em;
  margin-right: 0.67em;
}

p{
  color: #000;
  font-family: "Tilt Neon";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-items: center;
  justify-content: center;
  flex-wrap:wrap;
  margin-left: 0.67em;
  margin-right: 0.67em;
}

/*back to main page*/

a:visited{
  color:black;
}

a:hover{
  text-decoration: underline;
}
/*big about page title*/
#about{
  text-decoration: none;
}

hr {
  height: 2px;
  background: black;
  width:100%;
}

.my-button{
  cursor: pointer;
  background-color: #04AA6D;
  border: none;
  border-radius:5px;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
}

.textbox{
  margin-left: 0.67em;
  margin-right: 0.67em;
  display:flex;
  justify-content: space-around;
  }

.image{
    /* position: relative; */
    width: 50vw;
    height: 100%;
    cursor: pointer;
    /* -webkit-filter: saturate(0);  */

  }
.image:hover{
  vertical-align:middle;
  text-align:center;
  /* width: 40vw; */
  -webkit-filter: saturate(1); 
}

.grid {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    margin-top: 60px;
    width: 100%;
}

.grid img {
  flex-flow: column wrap;
}

@media (max-width: 768px) {
.image{
  width: 100vw;
}
a{
  font-size:25px;
  margin: 40.2px;
}
h1{
  font-size:40px; 
  width:30px;  
  margin-left: 0.67em;
  margin-right: 0.67em;
  display:flex;                                
}
}
@media (min-width: 1000px) {
  .image{
    width: 20vw;
  }
  }

@media (min-width: 768px) and (max-width: 1700px) {
  .image{
    width: 20vw;
  }
  }
  